/* Coolors Exported Palette - coolors.co/181818-a5d0a8-8cada7-b7990d-f2f4cb */

/* HSL */
$color1: hsla(0%, 0%, 9%, 1);
$color2: hsla(124%, 31%, 73%, 1);
$color3: hsla(169%, 17%, 61%, 1);
$color4: hsla(49%, 87%, 38%, 1);
$color5: hsla(63%, 65%, 88%, 1);

/* RGB */
$color1: rgba(24, 24, 24, 1);
$color2: rgba(165, 208, 168, 1);
$color3: rgba(140, 173, 167, 1);
$color4: rgba(183, 153, 13, 1);
$color5: rgba(242, 244, 203, 1);