<!DOCTYPE html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Rockets!</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="index-style.css">

    <script src="../Controller/scripts.js"></script>
</head>

<body>
    <h1>Rockets!</h1>
    <h2>Select your rocket</h2>
    <div id="rocketSelect">
        <div>Press to select this rocket</div>
        <div>Press to select this rocket</div>
    </div>
    <div>
        <div>Name:
            <div id="nameR1"></div>
        </div>
        <div>Power:
            <div id="powerR1"></div>
        </div>
        <div>Speed:
            <div id="speedR1"></div>
        </div>
    </div>
    <div>
        <div>Name:
            <div id="nameR2"></div>
        </div>
        <div>Power:
            <div id="powerR2"></div>
        </div>
        <div>Speed:
            <div id="speedR2"></div>
        </div>
    </div>


    <script src="../Model/rockets.js"></script>
    <script src="../Controller/scripts.js"></script>
</body>

</html>